rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
       	match /submissions/{documentId} {
            // only admin can view or update/soft delete
            allow read, update: if request.auth != null
                        && request.auth.token.admin == true;

            // authed users can create
            allow create: if request.auth != null;
        }

        match /{document=**} {
            allow read, write: if false;
        }
    }
}
